discord==2.3.2
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.1+cu113
torchvision==0.11.2+cu113
torchaudio==0.10.1+cu113
diffusers==0.26.3
transformers==4.38.0
accelerate==0.27.2